@inherits LayoutComponentBase
@implements IDisposable
@inject NavigationManager NavigationManager

@* Required *@
<MudThemeProvider @rendermode="InteractiveServer"/>
<MudPopoverProvider @rendermode="InteractiveServer"/>

@* Needed for dialogs *@
<MudDialogProvider @rendermode="InteractiveServer"/>

@* Needed for snackbars *@
<MudSnackbarProvider @rendermode="InteractiveServer"/>

<div class="page">
    <NavMenu/>

    <main>
        <article class="content px-4 @(IsAccountPage() ? "account-page" : "")">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@code {
    protected override void OnInitialized()
    {
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        StateHasChanged();
    }

    private bool IsAccountPage()
    {
        var path = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        return path.StartsWith("Account/", StringComparison.OrdinalIgnoreCase);
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}
